body {
    background: #02337d;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #4189fa;
    border-radius:25px;
}

.assignment img {
    width: 200px;
    margin: 10px;
    border: 3px solid #000b1c;
}

h1 {
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000b1c;
}